.THIS.slds-theme--success .slds-form-element__label {
    color: #f1c86f;
}
.THIS.slds-theme--success .slds-text-title {
    color: #db1198;
}

.THIS.slds-p-around--small{ 
    color:red;
}

.THIS.slds-theme--success  {
    color: #26ad1a;
   
}
.THIS {
    color: #0c20ce;
}